# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [4]:
### your code is here
print(len(cars["Model"].unique()))

3608

group by the data by the Make  using count function

In [5]:
### your code us here
cars_count = cars.groupby("Make").agg({"Make":["count"]})
cars_count

                             Make
                            count
Make
AM General                      4
ASC Incorporated                1
Acura                         302
Alfa Romeo                     41
American Motors Corporation    22
...                           ...
Volkswagen                   1047
Volvo                         717
Wallace Environmental          32
Yugo                            8
smart                          20

[127 rows x 1 columns]

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

What brand has the most cars?

In [6]:
### your code us here

#cars_count.loc[cars_count.max(),"Make"]

brand_cars = cars['Make'].value_counts()
brand_cars

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

In [7]:
cars.groupby("Make").agg({"Make":["count"]})

                             Make
                            count
Make
AM General                      4
ASC Incorporated                1
Acura                         302
Alfa Romeo                     41
American Motors Corporation    22
...                           ...
Volkswagen                   1047
Volvo                         717
Wallace Environmental          32
Yugo                            8
smart                          20

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand

In [8]:
### your code us here
cars.groupby("Make")["CO2 Emission Grams/Mile"].apply(lambda grps:grps.mean()/(1.60934))

Make
AM General                     379.881345
ASC Incorporated               345.133719
Acura                          262.583000
Alfa Romeo                     288.287195
American Motors Corporation    314.264744
                                  ...
Volkswagen                     244.038998
Volvo                          270.796572
Wallace Environmental          408.857065
Yugo                           221.251107
smart                          153.498052
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [13]:
sorted_emissions = cars.sort_values(by="CO2 Emission Grams/Mile",ascending=False).reset_index()
sorted_emissions["CO2 Emission Grams/Mile"]= (cars["CO2 Emission Grams/Mile"]/1.60934)
sorted_emissions.drop(['index'], axis=1,inplace=True)
sorted_emissions.rename(columns = {'CO2 Emission Grams/Mile' : 'CO2 Emission Grams/Km'}, inplace = True)
sorted_emissions

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
0,Lamborghini,Countach,1989,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,324.831736,5800
1,Lamborghini,Countach,1990,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,424.779962,5800
2,Lamborghini,Countach,1988,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,345.133719,5800
3,Lamborghini,Countach,1987,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,424.779962,5800
4,Lamborghini,Countach,1986,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,345.133719,5800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,Chevrolet,Volt,2017,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,43,42,42,151.614948,800
35948,Chevrolet,Volt,2016,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,43,42,42,150.993575,800
35949,BMW,i3 REX,2015,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,151.614948,1050
35950,BMW,i3 REX,2014,0.6,2.0,Auto(A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,152.857693,1050
35951,BMW,i3 REX,2016,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,158.450048,1050

In [14]:
make_emissions = sorted_emissions[["Make","CO2 Emission Grams/Km"]]
groups_em_make = make_emissions.groupby("Make").apply(lambda gp:gp.max())
groups_em_make.sort_values(by="CO2 Emission Grams/Km",ascending=False)

                          Make  CO2 Emission Grams/Km
Make
BMW                        BMW             788.877073
Ford                      Ford             788.877073
Plymouth              Plymouth             690.267439
Mercury                Mercury             690.267439
Mercedes-Benz    Mercedes-Benz             690.267439
...                        ...                    ...
Panos                    Panos             230.089146
London Taxi        London Taxi             230.089146
Qvale                    Qvale             221.208694
Red Shift Ltd.  Red Shift Ltd.             184.071317
Goldacre              Goldacre             162.415868

[127 rows x 2 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [ ]:
cars['Year'].describe()

In [ ]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here